 <div class="profil-infos">
  <div class="links-dash">
    <i class="far fa-edit" style="color:white; margin-right: 1em;"></i>
    <i class="fas fa-cog" style="color:white;"></i>
  </div>
  <div class="profil-image-name">
    <% if @user.photo.attached? %>
      <%= cl_image_tag @user.photo.key, height: 60, width: 60, class: "avatar-bordered" %>
    <% else %>
      <%= cl_image_tag "test.jpg", height: 60, width: 60, class: "avatar-bordered" %>
    <% end %>
    <%= @user.username %>
  </div>
  <div class="infos-events-user">
    <div class="text-event" style="margin-right: 30vw">
      <h4 style="font-size: 3em;"><strong>4</strong></h4>
      <p style="font-size: 2em;"> Événements à venir</p>
    </div>
    <div class="text-event">
      <h4 style="font-size: 3em;"><strong>3</strong></h4>
      <p style="font-size: 2em;"> Invitations</p>
    </div>
  </div>
</div>
<div>
  <ul class="list-inline tabs-underlined">
    <li>
      <h2 class="tab-underlined active organise">J'organise</h2>
    </li>
    <li>
      <h2 class="tab-underlined participe">Je participe</h2>
    </li>
  </ul>
</div>


<div class="container mine animated slideInLeft faster">
  <h2>Vos évéments</h2>
  <div class="cards-new">
    <% events = Event.where(user: current_user).sort_by {|event| event.start} %>
    <% events.each do |event| %>
      <%= (render 'shared/card', event: event) if event.start > DateTime.now %>
    <% end %>
    <h2>Évenements passé</h2>
    <% events.each do |event| %>
      <%= (render 'shared/card', event: event) if event.end < DateTime.now %>
    <% end %>
  </div>
</div>

<div class="container their d-none animated slideInRight faster">
  <h2>Les evenements auxquels pour participez:</h2>
  <div class="cards-new">
    <% events = @user.events.sort_by {|event| event.start} %>
    <% events.each do |event| %>
      <%= (render 'shared/card_new_event', event: event) if event.start > DateTime.now %>
    <% end %>
    <h2>Évenements passé</h2>
    <% events.each do |event| %>
      <%= (render 'shared/card_new_event', event: event) if event.end < DateTime.now %>
    <% end %>
  </div>
</div>

