<div class="profil-infos">
  <div class="profil-image-name">
    <% if @user.photo.attached? %>
      <%= cl_image_tag @user.photo.key, height: 60, width: 60, class: "avatar-bordered" %>
    <% else %>
      <%= cl_image_tag "test.jpg", height: 60, width: 60, class: "avatar-bordered" %>
    <% end %>
    <%= @user.username %>
  </div>
  <div class="infos-events-user">
    <div class="text-event" style="margin-right: 30vw">
      <h4 style="font-size: 3em;"><strong>4</strong></h4>
      <p style="font-size: 2em;"> Événements à venir</p>
    </div>
    <div class="text-event">
      <h4 style="font-size: 3em;"><strong>3</strong></h4>
      <p style="font-size: 2em;"> Invitations</p>
    </div>
  </div>
</div>
<div>
  <ul class="list-inline tabs-underlined">
    <li>
      <h2 class="tab-underlined active découvrire">Découvrire</h2>
    </li>
    <li>
      <h2 class="tab-underlined organise">J'organise</h2>
    </li>
    <li>
      <h2 class="tab-underlined participe">Je participe</h2>
    </li>
  </ul>
</div>


<div class="container mine animated  d-none fadeIn">
  <% events = Event.where(user: current_user).sort_by {|event| event.start} %>
  <% if Event.where("DATE(start) = ?", Date.today).count > 0 %>
    <h2>Vos évéments</h2>
  <% else %>
    <h2> Vous n'avez pas d'événements à venir ! <%= link_to "CREEZ EN UN ", new_event_path %></h2>
  <% end %>
  <div class="cards-new">
    <% events.each do |event| %>
      <%= (render 'shared/card', event: event) if event.start > DateTime.now %>
    <% end %>
    <h2>Évenements passés</h2>
    <% events.each do |event| %>
      <%= (render 'shared/card', event: event) if event.end < DateTime.now %>
    <% end %>
  </div>
</div>

<div class="container disc  animated fadeIn">
  <h2 id="title-hospital-index"><%="#{@user.hospital.events.count} événements à venir" %></h2>
  <div class="cards-new">
      <% events = @user.hospital.events.sort_by {|event| event.start} %>
      <% events.each do |event| %>
        <%= (render 'shared/card_new_event', event: event) if event.start > DateTime.now %>
      <% end %>
    </div>
  </div>
</div>


<div class="container their d-none animated fadeIn">
  <% events = @user.events.sort_by {|event| event.start} %>
  <% if events.length > 0 %>
    <h2>Les evenements auxquels vous participez:</h2>
  <% else %>
    <h2> Vous ne participez à aucun événement, <%= link_to 'allez découvrir les événements proche de vous', hospital_path(@user.hospital) %> </h2>
  <% end %>
  <div class="cards-new">
    <% events.each do |event| %>
      <%= (render 'shared/card_new_event', event: event) if event.start > DateTime.now %>
    <% end %>
    <h2>Évenements passés</h2>
    <% events.each do |event| %>
      <%= (render 'shared/card_new_event', event: event) if event.end < DateTime.now %>
    <% end %>
  </div>
</div>




