 <div class="subnavbar">
   <ul class="list-inline tabs-underlined">
     <li>
       <h2 class="tab-underlined active découvrire">Découvrir</h2>
     </li>
     <li>
       <h2 class="tab-underlined participe">Agenda</h2>
     </li>
     <li>
       <h2 class="tab-underlined organise">Messages</h2>
     </li>
   </ul>
 </div>


<div class="dashboard-main-container">
  <div class="disc animated fadeIn" id="discover-container">
   <div class="discover-top">
     <div class="home-title">
       <p class="mb-0"><%="#{@user.hospital.events.count} événements"%></p>
       <h1 class="mb-2"><%="#{@user.hospital.name}" %></h2>
     </div>
   </div>
   <div class="d-flex cards-disc">
       <% events = @user.hospital.events.sort_by {|event| event.start} %>
       <% events.each do |event| %>
         <%= (render 'shared/card_new_event', event: event) if event.start > DateTime.now %>
       <% end %>
   </div>
  </div>

  <div class="container their d-none animated fadeIn mt-3" id="my-agenda">
    <% reservations = @user.reservations %>
    <% events = reservations.map {|reservation| reservation.event} %>
    <% @user.events.each {|event| events << event}%>
    <% events = events.sort_by {|event| event.start} %>
    <% unless events.length > 0 %>
      <h2> Vous ne participez à aucun événement, <%= link_to 'allez découvrir les événements proche de vous', hospital_path(@user.hospital) %> </h2>
    <% end %>
    <div class="cards-new agenda">
      <% events.each do |event| %>
        <%= (render 'shared/card', event: event) if event.start > DateTime.now %>
      <% end %>
      <h2>Évenements passés</h2>
      <% events.each do |event| %>
        <%= (render 'shared/card-past-event', event: event) if event.end < DateTime.now %>
      <% end %>
    </div>
  </div>

  <div class="container mine animated d-none fadeIn mt-3" id="my-workshops-container">
    <% @user.events.each do |event| %>
        <%= render "shared/messages", event: event %>
    <% end %>
  </div>
</div>


<%= render 'shared/events_modal', events: @user.hospital.events.sort_by {|event| event.start} %>




<%= render "shared/add_event_btn" %>

