<%= link_to "LOGOUT",  destroy_user_session_path, method: :delete %>
<div class="container">
  <h1> Vos notifications : </h1>
  <% @notifications.each do |notification| %>
    <div class="notification">
      <%= render 'shared/notification', notification: notification %>
    </div>
  <% end %>
  <% @notifications_seen.each do |notification| %>
    <div class="notification seen">
      <%= render 'shared/notification', notification: notification %>
    </div>
  <% end %>
  <% @notifications_new.each do |notification| %>
    <div class="notification">
      <%= render 'shared/notification_event', notification: notification %>
    </div>
  <% end %>
  <% @notifications_old.each do |notification| %>
    <div class="notification seen">
      <%= render 'shared/notification_event', notification: notification %>
    </div>
  <% end %>
</div>
