<% if event.photo.attached? %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path event.photo.key%>'); background-position: inherit;">
<% else %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1503482618211-c70b46ede8b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1355&q=80'); background-position: inherit;">
<% end %>
  <div class="container">
    <div class="d-flex tete-single-event">
      <h1> <%= event.name %> </h1>
      <p id="date-event-show"> <%= I18n.localize(event.start, format: "%d%^b") %></p>
    </div>
    <p class="mb-3"> <%= event.description %> </p>
    <% if current_user == event.user %>
      <div class="d-flex justify-content-between">
        <div class="d-flex">
          <%= link_to "Delete Event", "#", class: "btn-del-up" %>
          <%= link_to "Update Event", edit_event_path(event), class: "btn-del-up" %>
        </div>
        <%= link_to "Chat-Room", "#", class: "btn-chatroom" %>
      </div>
    <% elsif Reservation.where(user: current_user, event: event).exists? %>
      <div class="d-flex justify-content-between">
        <%= link_to event_reservation_path(@event), method: :delete do%>
          <div class="btn-desinscrire">
            <i class="fas fa-check"></i><%= " Participe" %>
          </div>
        <% end %>
        <%= render 'shared/chat_btn' %>
      </div>
    <% else %>
      <%= link_to " Participer", event_reservations_path(@event), method: :post, class: "btn-participer d-block"%>
    <% end %>
  </div>
</div>
