<% if event.photo.attached? %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path event.photo.key%>'); background-position: inherit;">
<% else %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1503482618211-c70b46ede8b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1355&q=80'); background-position: inherit;">
<% end %>
  <div class="container">
    <div class="d-flex tete-single-event">
      <h1> <%= event.name %> </h1>
     <% if @event.date == nil %>
      <p class="date-event-show"><%= Date.today.strftime("%d/%m") %></p>
     <% else %>
       <p class="date-event-show"> <%= @event.date.day %>/<%= @event.date.month %></p>
      <% end %>
      <% if current_user == event.user %>
        <div class="update-event">
           <%= link_to edit_event_path(event) do %>
            <i class="fas fa-edit"></i>
        <% end %>
        </div>
      <% end %>
    </div>
    <p class="mb-3"> <%= event.description %> </p>
    <% if current_user == event.user %>
      <div class="d-flex justify-content-between">
        <%= render 'shared/chat_btn'  %>
      </div>
    <% elsif Reservation.where(user: current_user, event: event).exists? %>
    <%= render 'shared/participe_call_to_action' %>
    <% else %>
    <div class="participe d-none">
      <%= render 'shared/participe_call_to_action' %>
    </div>
    <div class="participe-pas">
      <%= link_to " Participer", event_reservations_path(@event), method: :post, remote: true, class: "btn-participer d-block"%>
    </div>
    <% end %>
  </div>
</div>
