<% if notification.class.name == "Event" %>
  <%= link_to event_path(notification) do %>
  <div class="d-flex">
    <div>
    <% if notification.user.photo.attached? %>
        <%= cl_image_tag notification.user.photo.key, height: 50, width: 50, crop: :fill, class: "avatar" %>
    <% else %>
        <%= cl_image_tag "smiley-logo.jpg", height: 50, width: 50, crop: :fill, class: "avatar" %>
    <% end %>
    </div>
    <div class="notification-content">
      <p> <span> <%= notification.name %></span> a été créé par <span> <%= notification.user.username %></span>.</p>
      <p><small><%= ((Time.now - notification.created_at) / 60).to_i %> minutes ago</small></p>
    </div>
  </div>
  <% end %>
<% else %>
  <%= link_to event_path(notification.event) do  %>
    <div class="d-flex">
      <div>
        <% if notification.user.photo.attached? %>
          <%= cl_image_tag notification.user.photo.key, height: 50, width: 50, crop: :fill, class: "avatar" %>
        <% else %>
          <%= cl_image_tag "smiley-logo.jpg", height: 50, width: 50, crop: :fill, class: "avatar" %>
        <% end %>
      </div>
      <div class="notification-content">
        <p> <span> <%= notification.user.username %></span> a rejoint votre événement <span> <%= notification.event.name %></span>.</p>
        <p><small><%= ((Time.now - notification.created_at) / 60).to_i %> minutes ago</small></p>
      </div>
    </div>
  <% end %>
<% end %>
