
<div class="container-topbar mt-2">
  <%= link_to image_tag("arrow-left.png"), :back, id:"arrow-picto" %>
  <h1 class="tobar-title"><%= @name_page %></h1>
 <div class="links-dash">
   <li class="nav-item dropdown">
     <%= image_tag "settings.png", class: "dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
   <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
     <%= link_to "Edit Profile", "#", class: "dropdown-item" %>
   <%= link_to "Logout", "#", class: "dropdown-item" %>
   </div>
   </li>
 </div>
</div>
