
<div class="container-topbar">
  <%#= link_to image_tag("arrow-left.png"), :back, id:"arrow-picto" %>
  <div class="d-flex align-items-center">
      <div id="logo">
          <%= link_to dashboard_path() do  %>
          <%= image_tag "ballon.png", height: 55 %>
        <% end %>
      </div>
    <div class= "links-dash d-flex justify-content-between" style = "width:3em">
      <div class="button_badge ">
        <!-- <div class= ""> -->
          <p class="number-of-notif"></p>
        <!-- </div> -->
      </div>
      <div id="notifications">
        <%= render "shared/dropdown_notif", target_user: current_user %>
      </div>
      <div>
        <li class="nav-item dropdown">
          <i class="fas fa-bars" class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" /></i>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Créer un événement", new_event_path, class: "dropdown-item" %>
            <%= link_to "Mon Profil", dashboard_path, class: "dropdown-item" %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      </div>
    </div>
  </div>
</div>
