<div class="header-create-event">
  <div class="banner-create-event">
    <%= render "shared/topbar" %>
  </div>
  <div class="photo-create-event">
    <%= image_tag("add-picto.svg", id:"add-event-picto") %>
  </div>
</div>


<div class="container-fluid lower-page ">
  <div class="row justify-content-center" >
    <div class="events-info col-12 col-lg-8">
      <%= simple_form_for(@event) do |f| %>
        <%= f.input :photo, as: :file, label: false, input_html: { class: "d-none"} %>
        <%= f.input :name, label: 'Title' %>
        <%= f.input :description, label: 'Describe your event' %>
        <%= f.input :start, label: 'Starting date', as: :string, required: true, input_html: {class: "datepicker"}, placeholder: "YYYY/MM/DD" %>
        <%= f.input :start, label: 'Starting time', as: :time %>
        <%= f.input :end, label: 'Ending time', as: :time %>
        <%= f.input :location %>
        <%= f.input :max_participants %>
        <%= f.button :submit, class: "btn btn-primary"%>
      <% end %>
    </div>
  </div>

</div>


