<div class="header-create-event">
  <div class="photo-create-event">
    <%= image_tag "placeholder.jpg", class: "hidden photo-create-event", id: "photo-preview" %>
    <%= image_tag "icon.png", class: "add-event-picto", id: "browsing-photo" %>
  </div>
</div>


<div class="container-fluid lower-page ">
  <div class="row justify-content-center" >
    <div class="events-info col-12 col-lg-8">
      <%= simple_form_for(@event) do |f| %>
        <%= f.input :photo, input_html: { id: 'photo-input', class: 'd-none'}, label: false %>
        <%= f.input :name, label: 'Title' %>
        <%= f.input :description, label: 'Describe your event' %>
        <%= f.input :start, label: 'Starting date', as: :string, required: true, input_html: {class: "datepicker"}, placeholder: "YYYY/MM/DD" %>
        <%= f.input :start, label: 'Starting time', as: :string, required: true, input_html: {class: "timepicker"} %>
        <%= f.input :end, label: 'Ending time', as: :string, required: true, input_html: {class: "timepicker"} %>
        <%= f.input :location %>
        <%= f.input :max_participants %>
        <%= f.button :submit, class: "btn btn-primary", value: "Create" %>
      <% end %>
    </div>
  </div>

</div>


