<div class="body-home">

  <div class="text-home">

    <div class="slogan">
      <div class="first-home">
        <div class="slogan-text">
            <div id="typed-strings">
              <h1><strong>Happy</strong></h1>
              <h1><strong>Humain</strong></h1>
              <h1><strong>Hôpital</strong></h1>
              <h1><strong>Hhhhhh</strong></h1>
              <h1><strong>Humain</strong></h1>
              <h1><strong>Hôpital</strong></h1>
            </div>
            <span id="typed"></span>
            <span><strong>...place</strong></span>
        </div>
      </div>
    </div>
    <p style="padding: 6em;"><em>En établissement hospitalier aussi, on peut être bien entouré</em></p>
  </div>

  <div class="search-bar-homepage">
    <%= form_tag handler_path, method: :get do %>
      <div class="d-flex">
        <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Votre hôpital"%>
        <button name="button" type="submit" class="icone-loupe">
          <i class="fas fa-search"></i>
        </button>
      </div>
    <% end %>
  </div>
</div>


<div class="top-events-leo">
  <h2 style="margin-top: 1em; margin-left: 1em; margin-bottom: 1em;">Événements à venir</h2>
  <div class="cards-leo container">
    <% best_events = [Event.find_by(name: "Belotte"), Event.find_by(name: "Tricot"), Event.find_by(name: "Uno")] %>
    <% best_events.each do |event| %>
      <div class="card-event-leo card-home-leo">
           <% if event.photo.attached? %>
            <%= cl_image_tag event.photo.key, height: 200, width: 400, crop: :fill %>
           <% else %>
          <%= image_tag "test.jpg", height: 200, width: 400, crop: :fill %>
             <% end %>

        <div class="card-event-infos-leo">
          <div>
            <h2><%= event.name %></h2>
            <p><%= event.location %></p>
          </div>
          <h2 class="card-event-pricing-leo"> <%= "#{event.start} #{event.end}" %></h2>
          <%= cl_image_tag event.user.photo.key, height: 40, width: 40, crop: :fill, class: "card-event-user-leo avatar-bordered" %>
         </div>
      </div>
    <% end %>
  </div>
</div>
